$text-color: #43afff;


.applied-main {
    background: #edf6ff;
    min-height: 451px;

    .applied {
        width: 80%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -60%);
    }

    .applied-head {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #ffffff;
    }


    .applied-det {
        box-shadow: 0px 3px 6px #557DA526;
        border-radius: 6px;
        min-height: 150px;
        background: #ffffff;
        margin: 20px 20px 20px 0;
        max-width: 366px;
        padding: 20px;

        .applied-title {
            font-size: 17px;
            color: #303F60;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .applied-para {
            font-size: 14px;
            color: #303F60;
        }

        .location {
            font-size: 16px;
            font-weight: lighter;
            text-transform: capitalize;
            margin-top: 20px;
        }
    }
}


.no-applied {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}


.see-job {
    border: none;
    background: $text-color;
    color: white;
    padding: 8px 32px;
    border-radius: 4px;
    margin-top: 20px;
    font-weight: 600;
}