$text-color: #43afff;


.applicants-main {
    background: #edf6ff;
    min-height: 451px;

    .applicants {
        width: 80%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -60%);
    }

    .applicants-head {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #ffffff;
    }

    .applicants-para{
        color: white;
        font-size: 14px;
    }
    .job-det {
        box-shadow: 0px 3px 6px #557DA526;
        border-radius: 6px;
        min-height: 200px;
        background: #ffffff;
        margin: 20px 20px 20px 0;
        max-width: 366px;
        padding: 20px;

        .applicant-title {
            font-size: 17px;
            color: #303F60;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .applicant-para {
            font-size: 14px;
            color: #303F60;
        }

    }
}


.no-job {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}